body {
  height: 100%;
  background-color: #0070AD;
  color: white;
  text-align: center;
}

#grid-container{
margin-top: 10%;
display: grid;
justify-content: center;
grid-template-rows: 60px
                    1fr
                    50px;
height: 90%;
}

button{
  padding: 20px;
}
#aloita{
  margin-top: 50px;
  height: 100%;
}
input{
  height: 20px;
  padding: 15px;
}


p{
  font-size: 20px;
  display: inline;
  color: white;
}
p:hover{
  cursor: pointer;
}
